<div class="side-top">
  <div class="header-name">
    <%= link_to current_user.name , edit_user_path(current_user) %>
  </div>
  <div class="chat-button">
    <%= link_to "チャット作成する", new_room_path %> 
  </div>
</div>
<div class="side-main">
  <% current_user.rooms.each do |room|%>
    <div class="room">
      <div class="chat-room">
        <div class="chat-room">
          <a href="#"><%= room.name%></a>
        </div>
      </div>
    </div>
  <% end %>
</div>
